form {
    margin: 1em;
}
input {
    width: 60%;
}
#picker {
    border: 1px solid;
    background-color: #e4ccc1;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#color-choice, #color{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color:#fff;
  top:0;
  left:0;
}
.ui-cs-chromoselector {
  margin-right: auto;
  margin-left: auto;

}

.btn-controller{
  position: absolute;

}

